<div class="tileSelectorCntrl" >
    <mat-form-field>
      <mat-label>  {{'MAP.TILE-SELECTOR' | translate: {x:3} }}</mat-label>
      <mat-select color="primary" value = "CARTODARK" (selectionChange)="setTileLayer($event.value)">
        <mat-option value="NONE">None</mat-option>
        <mat-option value="CARTODARK">Carto Light/Dark</mat-option>
        <mat-option value="OSM">OSM</mat-option>
        <mat-option value="GOSM">Google Sat</mat-option>
        <mat-option value="KTBASEMAP">Κτηματολόγιο</mat-option>
      </mat-select>  
    </mat-form-field>
</div> 

