<!-- 
<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button> -->
<div mat-dialog-title >
<!-- <h1>Viewwer</h1> -->
    <button matTooltip="Κλείσε"  mat-button class="close-icon" [mat-dialog-close]="true">
        <mat-icon color="accent">close</mat-icon>
    </button>
    <button matTooltip="Πλήρης έκταση οθόνης" (click)="toggleFullScreen()" mat-button class="max-icon" >
        <mat-icon color="accent">{{this.mapMapillaryService.mplPopupClass === 'mapillaryViewer' ? 'fullscreen' : 'fullscreen_exit'}}</mat-icon>
    </button>
    <button matTooltip="Ολα τα αντικείμενα" (click)="mapMapillaryService.showAllImageDetections()" mat-button class="show-all-feats-icon" >
        <mat-icon color="accent">category</mat-icon>
    </button>
</div>
  
<div>
    <div [className]="mapMapillaryService.mplPopupClass"  id="mapillaryDiv"></div>
</div>

