<!-- 
<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button> -->
<div mat-dialog-title >
<!-- <h1>Viewwer</h1> -->
    <button mat-mini-fab color="primary" matTooltip="{{'MAP.MPLR-POPUP-CLOSE' | translate}}"  mat-button class="close-icon" [mat-dialog-close]="true">
        <mat-icon [ngClass]="darkThemeService.darkTheme ? 'dark' : 'dark'" >close</mat-icon>
    </button>
    <button mat-mini-fab color="primary" matTooltip="{{'MAP.MPLR-POPUP-FULL' | translate}}" (click)="toggleFullScreen()" mat-button class="max-icon" >
        <mat-icon [ngClass]="darkThemeService.darkTheme ? 'dark' : 'dark'" >{{this.mapMapillaryService.mplPopupClass === 'mapillaryViewer' ? 'fullscreen' : 'fullscreen_exit'}}</mat-icon>
    </button>
    <button mat-mini-fab color="primary" matTooltip="{{'MAP.MPLR-POPUP-ALL' | translate}}" (click)="mapMapillaryService.showAllImageDetections()" mat-button class="show-all-feats-icon" >
        <mat-icon [ngClass]="darkThemeService.darkTheme ? 'dark' : 'dark'" >category</mat-icon>
    </button>
</div>
  
<div>
    <div [className]="mapMapillaryService.mplPopupClass"  id="mapillaryDiv"></div>
</div>

