  .close-icon {
    transition: 1s ease-in-out;
  }
  
  .close-icon:hover {
    transform: rotate(180deg);
  }

  .max-icon {
    float:right;
    transition: 1s ease-in-out;
  }

  .max-icon:hover {
    transform: rotate(180deg);
  }


  .show-all-feats-icon {
    float:right;
    transition: 1s ease-in-out;
  }

  
  .show-all-feats-icon:hover {
    transform: rotate(180deg);
  }

  
  .mapillaryViewer {
    width: 40vw; 
    height: 50vh;
  }

  .mapillaryViewer-full {
    width: 75vw;
    height: 85vh;
  }

  ::ng-deep .mpl_viewer_custom_popup .mapillary-attribution-container{
    height:20px;
  }
  
  ::ng-deep .mpl_viewer_custom_popup .mat-dialog-container {
    background-color: transparent !important;
    padding: 5px 5px 10px 10px !important;
    overflow: hidden !important;
  }

  ::ng-deep .mpl_viewer_custom_popup .mat-button-focus-overlay {
    background-color: transparent!important;
  }

  .dark{
    color:black;
    
  }

  .light{
    color:#4caf50;
    
  }
