<link
  href="https://unpkg.com/mapillary-js@4.0.0/dist/mapillary.css"
  rel="stylesheet"
/>


<div id="map_div">

  <app-tileselector></app-tileselector>
  <app-mapillary-data *ngIf="isStreetMode()"></app-mapillary-data>
  <app-map-mode></app-map-mode>
  <app-opacity-slider></app-opacity-slider>
  <app-map-stats-mode  *ngIf="isStatsMode()"></app-map-stats-mode>
  <app-zoominout></app-zoominout>

  <app-popup></app-popup>

  <div *ngIf="mapLayersService.dataLoaded === false" class="loader" >
    <mat-spinner color="primary" diameter="70" mode="indeterminate" ></mat-spinner>
  </div>
</div>
