<link
  href="https://unpkg.com/mapillary-js@4.0.0/dist/mapillary.css"
  rel="stylesheet"
/>


<div id="map_div">

  <app-tileselector></app-tileselector>
  <app-mapillary-data *ngIf="isStreet"></app-mapillary-data>
  <app-map-mode></app-map-mode>
  <app-opacity-slider></app-opacity-slider>
  <app-zoominout></app-zoominout>
  <app-map-stats-data *ngIf="isStats"></app-map-stats-data>
  <!-- new stats and filters -->
  <div class="stats-and-filters" *ngIf="isStats && showStatsAndFilters">
    <mat-card>
      <app-map-stats-data-filters></app-map-stats-data-filters>
    </mat-card>
  </div>

  <app-popup></app-popup>

  <div *ngIf="mapLayersService.dataLoaded === false" class="loader" >
    <mat-spinner color="primary" diameter="70" mode="indeterminate" ></mat-spinner>
  </div>

  <div #tooltip id="tooltip" class="tooltip"></div>
</div>
