#map_div {
    background-color:0#ffffffff;
    height:92vh;
    width:100%;
    overflow: hidden;
    position:fixed;
  }

  
  .loader {
    top: 40%;
    left: 47%;
    position: absolute; 
    z-index: 9999;  
    font-size: 12px;
    font-weight: bold;
    color: white;
  }


  .tooltip {
    position: relative;
    padding: 0px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0.7;
    white-space: nowrap;
    font: 10pt sans-serif;
  }