td , th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 250px;
}


.close-button{
    float: right;
  }

  .tbar-header{
    cursor: move;
  }
  
  .tbar-spacer {
    flex: 1 1 auto;
  }