<form fxFlex autocomplete="off" style="margin: 10px">
    <h3>Δεδομένα AthensEye</h3>
    
    <div class="row filterSelectCntrl">
        
        <mat-form-field >
            <mat-label>Feature Detections</mat-label>
                <mat-select multiple class='dark'
                [(value)]="mapLayersService.selectedFeatureGroups" 
                (selectionChange)="setActiveGroups($event.value)" 
                (closed)="refreshDetectionLayer()">
                <mat-option #allSelected 
                    (click)="toggleFeatureGroups()" 
                    [value]="'0'">All
                </mat-option>
                <mat-option *ngFor="let group of getFeatureGroups()" [value]="group">
                    <mat-icon>
                        <img src='{{ "../../../../assets/package_objects/" + group + ".svg" }}'/>
                    </mat-icon>{{getLabel(group)}}
                </mat-option>
                </mat-select>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-checkbox [checked]="mapLayersService.checkedSeq" (change)="toggleLayerVisibility(vectorLayerNames.seq)" >Show/Hide Paths</mat-checkbox>
    </div>
    <div class="row">
        <mat-checkbox [checked]="mapLayersService.checkedImg" (change)="toggleLayerVisibility(vectorLayerNames.img)">Show/Hide Image Points</mat-checkbox>
    </div>
    
    <!-- <h4>Feature Detections</h4> -->
</form>
