<h3 mat-dialog-title 
cdkDrag
cdkDragRootElement=".cdk-overlay-pane" 
cdkDragHandle>
 <mat-toolbar color="primary" role="toolbar" class="tbar-header">
         <span>{{'MAP.MPLR-DATA' | translate }}</span>
         <span class="tbar-spacer"></span>
         
         <button mat-icon-button class="close-button" [mat-dialog-close]="true">
             <mat-icon class="close-icon" >close</mat-icon>
         </button>
 </mat-toolbar>
 
 </h3>
 <mat-dialog-content>
<form fxFlex autocomplete="off" style="margin: 10px" [class.athens-dark-theme]="darkThemeService.isDarkTheme$ | async">

    
    <div [class]= "(darkThemeService.isDarkTheme$ | async) ? 'row filterSelectCntrlDark' : 'row filterSelectCntrlLight' " >
        
        <mat-form-field >
            <mat-label>{{'MAP.LAYER-DETECTIONS' | translate}}</mat-label>
                <mat-select color="primary" multiple  
                [(value)]="mapLayersService.selectedFeatureGroups" 
                (selectionChange)="setActiveGroups($event.value)" 
                (closed)="refreshDetectionLayer()">
                <mat-option [class]="(darkThemeService.isDarkTheme$ | async) ? 'customSelectDark' : 'customSelectLight' " 
                    #allSelected  
                    (click)="toggleFeatureGroups()" 
                    [value]="'0'">All
                </mat-option>
                <mat-option [class]="(darkThemeService.isDarkTheme$ | async) ? 'customSelectDark' : 'customSelectLight' "
                    *ngFor="let group of getFeatureGroups()" [value]="group">
                    <mat-icon >
                        <img src='{{ "../../../../assets/package_objects/" + group + ".svg" }}'/>
                    </mat-icon>{{getLabel(group)}}
                </mat-option>
                </mat-select>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-checkbox color="primary" [class]="(darkThemeService.isDarkTheme$ | async) ? 'checkboxDark' : 'checkboxLight' "
        [checked]="mapLayersService.checkedSeq" (change)="toggleLayerVisibility(vectorLayerNames.seq)">
        {{'MAP.LAYER-PATHS' | translate}}
        </mat-checkbox>
    </div>
    <div class="row">
        <mat-checkbox color="primary"  [class]="(darkThemeService.isDarkTheme$ | async) ? 'checkboxDark' : 'checkboxLight' "
        [checked]="mapLayersService.checkedImg" (change)="toggleLayerVisibility(vectorLayerNames.img)">
        {{'MAP.LAYER-POINTS' | translate}}
        </mat-checkbox>
    </div>


</form>
</mat-dialog-content>
