
::ng-deep .checkboxDark .mat-checkbox-frame {
  background-color: #607d8b;
}

::ng-deep .filterSelectCntrlDark .mat-form-field-flex {

  padding: 5px;
  background-color: rgba(0,0,0,0.3);
}



.close-button{
  float: right;
}

.tbar-header{
  cursor: move;
}

.tbar-spacer {
  flex: 1 1 auto;
}





