<section>
  <h2>{{ "ABOUT.OBJECTIVE_CAPS" | translate }}</h2>
  <p>
    O Δήμος Αθηναίων, σε συνεργασία με τη Μονάδα Βιώσιμης Κινητικότητας του
    Εθνικού Μετσόβιου Πολυτεχνείου, σχεδίασαν, υλοποίησαν και παραδίδουν στους
    κατοίκους και τους επισκέπτες του Δήμου τούτη τη ψηφιακή πλατφόρμα που τους
    παρέχει επίκαιρα στοιχεία, ιδέες για τις δραστηριότητές τους και απαντήσεις
    σε πολλά ερωτήματα γύρω από την πόλη. Η πλατφόρμα ανήκει σε μια από τις
    μεγάλες δράσεις του Δήμου, της Χώρας μας και της Ευρώπης απέναντι στην
    κλιματική κρίση. Ο σκοπός της δεν είναι άσχετος με τα προβλήματα που ζούμε.
    Αποσκοπεί στο να κάνει τους δρόμους πιο ανθρώπινους, φιλόξενους, ζωντανούς
    και δραστήριους προς όφελος αυτών που τους κατοικούν, αυτών που έχουν σ’
    αυτούς τη δουλειά ή την επιχείρησή τους, αυτών που τους περπατούν, αυτών που
    επιθυμούν να στέκονται και να συναντώνται. Ο Δήμος της Αθήνας φιλοδοξεί να
    σπάσει την απομόνωση όσων απομακρύνθηκαν από τον δημόσιο χώρο, ανάπηρων,
    παιδιών και ηλικιωμένων.
  </p>

  <div class="about-second-container">
    <div class="icons-container">
      <mat-icon class="about-icon">public</mat-icon>
      <mat-icon class="about-icon">public</mat-icon>
      <mat-icon class="about-icon">public</mat-icon>
      <mat-icon class="about-icon">public</mat-icon>
      <mat-icon class="about-icon">public</mat-icon>
      <mat-icon class="about-icon">public</mat-icon>
    </div>
    <div class="text-container">
      <div class="first-title-container">
        <h3 style="margin: 32px 0 0 0">
          ΠΕΡΙΒΑΛΛΟΝΤΙΚΕΣ ΕΠΙΔΟΣΕΙΣ ΚΑΙ ΒΙΩΣΙΜΟΤΗΤΑ
        </h3>
      </div>
      <div class="second-title-container">
        <h3>ΕΝΑΛΛΑΚΤΙΚΕΣ ΜΟΡΦΕΣ ΜΕΤΑΚΙΝΗΣΗΣ/ΒΙΩΣΙΜΗ ΑΣΤΙΚΗ ΚΙΝΗΤΙΚΟΤΗΤΑ</h3>
      </div>
      <div class="first-text-container">
        <p>
          Είναι εξαιρετικά σημαντικό μέχρι το 2050 να έχει μηδενιστεί η παραγωγή
          αερίων του θερμοκηπίου και ήδη άμεσα πρέπει να υπάρξουν τα πρώτα
          αποτελέσματα. Εκ των πραγμάτων, στο στόχαστρο βρίσκεται το συμβατικό
          αυτοκίνητο, υπεύθυνο για σημαντικό ποσοστό των αερίων, που οι πόλεις
          είναι πηγή τους. Πρέπει λοιπόν αυτές να λειτουργούν με πολύ λιγότερα
          αυτοκίνητα και μόνο ‘καθαρά’. Απαραίτητη επομένως είναι η ενίσχυση της
          δημόσιας συγκοινωνίας, του ποδηλάτου και του περπατήματος.
          Συμπληρωματικά, υπάρχουν πολλές ακόμη καινοτόμες εναλλακτικές λύσεις
          που στηρίζονται σε οχήματα μικροκινητικότητας και κοινής χρήσης (car
          sharing, car pooling, bike sharing κ.λπ.). Η ηλεκτροκίνηση και η
          τηλεργασία θα συμβάλουν επίσης καθοριστικά.
        </p>
      </div>

      <div class="third-title-container">
        <h3>ΠΕΡΠΑΤΗΣΙΜΟΤΗΤΑ/ΠΡΟΣΒΑΣΙΜΟΤΗΤΑ</h3>
        <div class="second-text-container">
          <p>
            Το περπάτημα αποτελεί το μεγάλο ζητούμενο της πλατφόρμας. Στο
            περπάτημα περιλαμβάνονται τόσο η υποδομή του όσο και οι ευρύτερες
            συνθήκες στο οδόστρωμα, οι χρήσεις γης κ.λπ. Κατά συνέπεια για το
            περπάτημα στους δρόμους του Δήμου Αθηναίων, εκ οποίων, το μεγαλύτερο
            ποσοστό του συνολικού μήκους τους, περίπου 1.000 χλμ., είναι δρόμοι
            τοπικής κυκλοφορίας, γίνονται και θα γίνουν έργα
            <span class="about-link">προσβασιμότητας για όλους</span>.
          </p>
        </div>
      </div>
    </div>
    <div class="images-container">
      <div class="image-a-container">
        <div class="image-a"></div>
      </div>
      <div class="image-b-container">
        <div class="image-b"></div>
      </div>
      <div class="image-c-container">
        <div class="image-c"></div>
      </div>
      <div class="image-d-container">
        <div class="image-d"></div>
      </div>
      <div class="image-e-container">
        <div class="image-e"></div>
      </div>
      <div class="image-f-container">
        <div class="image-f"></div>
      </div>
      <div class="image-g-container">
        <div class="image-g"></div>
      </div>
    </div>
  </div>

  <mat-card>
    <h2>Δομή του ερευνητικού έργου</h2>
    <p>
      Σύμφωνα με την προγραμματική σύμβαση μεταξύ του Δήμου Αθηναίων και του
      ΕΜΠ, το ερευνητικό έργο
      <span style="font-style: italic">Walkable Athens</span>
      περιλαμβάνει δέκα Ενότητες Εργασίας (Ε.Ε) και πέντε παραδοτέα. Όλες οι Ε.Ε
      και τα παραδοτέα αλληλοσυνδέονται μεταξύ τους, προκειμένου να υλοποιηθούν
      οι στόχοι του ερευνητικού προγράμματος σε χρονικό διάστημα 30 μηνών.
    </p>
    <p>
      Το έργο ξεκίνησε στις 15 Σεπτεμβρίου 2021 και αναμένεται να ολοκληρωθεί
      στις 15 Μαρτίου 2024
    </p>
  </mat-card>
  <mat-card>
    <h2>Ενότητες Εργασίας – Παραδοτέα</h2>
    <p>
      Η πρώτη Ε.Ε αφορά στην τεχνική και στην οικονομική διαχείριση του
      προγράμματος καθώς και στην επικοινωνία μεταξύ όλων των εμπλεκομένων
      φορέων και των ερευνητών.
    </p>
    <p>
      Η δεύτερη Ε.Ε περιλαμβάνει την αναγνώριση της περιοχής μελέτης. Στην
      ενότητα αυτή θα γίνει ανάλυση των προηγούμενων μελετών που αφορούν το
      περπάτημα και την αστική κινητικότητα και θα συγκεντρωθούν τα απαραίτητα
      χωρικά δεδομένα από τις υφιστάμενες βάσεις του Δήμου και άλλων δημοσίων
      οργανισμών.
    </p>
    <p>
      Η τρίτη Ε.Ε περιλαμβάνει την πρωτογενή έρευνα ερωτηματολογίου σε διάφορες
      ομάδες πεζών, όπως κάτοικοι και επισκέπτες της πόλης, προκειμένου να
      διερευνηθούν τα χαρακτηριστικά των μετακινήσεων, οι αντιλήψεις τους και οι
      ανάγκες τους για το περπάτημα και τον δημόσιο χώρο.
    </p>
    <p>
      Η τέταρτη Ε.Ε στοχεύει στη μελέτη χωροθέτησης και στην πιλοτική τοποθέτηση
      αισθητήρων καταμέτρησης της κυκλοφορίας των πεζών σε κρίσιμα σημεία της
      πόλης. Στόχος του δικτύου των αισθητήρων είναι η δημιουργία χρονοσειρών
      δεδομένων για τις μετακινήσεις πεζή αλλά και η διασύνδεσή του με το
      ψηφιακό παρατηρητήριο βαδισιμότητας που θα δημιουργηθεί.
    </p>
    <p>
      Η πέμπτη Ε.Ε αφορά στην αποτύπωση των δρόμων της πόλης με πανοραμικές
      εικόνες 360ο ώστε να πραγματοποιηθεί εικονική αξιολόγηση των δημοσίων
      χώρων και να δημιουργηθούν νέα δεδομένα που να αφορούν διάφορα
      χαρακτηριστικά μέτρησης της βαδισιμότητας. Η νέα βάση δεδομένων θα
      περιλαμβάνει χωρικούς δείκτες για το κτηριακό περιβάλλον, τις χρήσεις γης,
      την πληροφοριακή σήμανση, τα χαρακτηριστικά των πεζοδρομίων και του
      αστικού εξοπλισμού, τις στάσεις των ΜΜΜ, τις διαβάσεις πεζών και τον οδικό
      χώρο.
    </p>
    <p>
      Η έκτη Ε.Ε περιλαμβάνει την οπτικοποίηση και τη χωρική ανάλυση των χωρικών
      δεδομένων που θα συλλεχθούν και των δεικτών που θα καταρτιστούν για κάθε
      πλευρά οικοδομικού τετραγώνου, διάβαση πεζών και άξονα δρόμου ξεχωριστά.
      Με βάση αυτά τα στοιχεία θα υπολογιστεί ο σύνθετος χωρικός δείκτης
      βαδισιμότητας και θα προσδιοριστούν οι δρόμοι και οι περιοχές που
      εμφανίζουν αυξημένες ανάγκες για βελτιώσεις στις υποδομές.
    </p>
    <p>
      Η έβδομη Ε.Ε αφορά την ανάπτυξη της νέας στρατηγικής βαδισιμότητας του
      Δήμου Αθηναίων. Στο πλαίσιο αυτό, θα προταθούν ρεαλιστικές λύσεις για την
      αναβάθμιση της οδικής υποδομής και των συνθηκών της πεζή μετακίνησης με
      βάση τη νέα γνώση που θα προκύψει από την ανάλυση των χωρικών δεδομένων
      και την αξιολόγηση των αντιλήψεων των κατοίκων και των επισκεπτών.
    </p>
    <p>
      Η όγδοη Ε.Ε αφορά την ανάπτυξη και τον προσδιορισμό των τεχνικών
      προδιαγραφών του ψηφιακού γεωχωρικού παρατηρητηρίου βαδισιμότητας του
      Δήμου. Θα γίνει ανασκόπηση σε καλές πρακτικές αστικών παρατηρητήριων και
      θα καθοριστούν οι δυνατότητές του, οι τεχνολογίες προγραμματισμού και το
      γραφικό περιβάλλον της νέας γεωχωρικής πύλης.
    </p>
    <p>
      Η ένατη Ε.Ε περιλαμβάνει την κατασκευή και την υλοποίηση του ψηφιακού
      παρατηρητήριου καθώς και την υποστήριξη του δήμου για τη μελλοντική
      διαχείριση και αξιοποίησή του. Ακόμη θα διοργανωθούν και δράσεις διάχυσης
      των τελικών αποτελεσμάτων του έργου.
    </p>
    Η δέκατη Ε.Ε αφορά την αξιολόγηση των παρεμβάσεων που θα προταθούν και θα
    υλοποιήσει ο δήμος, ώστε να εκτιμηθεί ο αντίκτυπος στην κυκλοφορία, το
    περιβάλλον, την κοινωνία και την τοπική οικονομία. Στο πλαίσιο αυτό, θα
    επαναληφθούν οι έρευνες ερωτηματολογίου και θα αναθεωρηθούν τα γεωχωρικά
    δεδομένα εφόσον απαιτηθεί.
    <p>
      Σχετικά με τα πέντε παραδοτέα (Π) του έργου αυτά είναι προγραμματισμένα να
      υποβάλλονται ανά έξι μήνες και συγκεκριμένα περιλαμβάνουν τα εξής:
    </p>
    <ul>
      <li>
        Π1 – 6 Μήνες: Το 1ο Παραδοτέο θα περιλαμβάνει την ανάλυση των
        χαρακτηριστικών της περιοχής μελέτης, τον σχεδιασμό, τη διεξαγωγή και τα
        αρχικά αποτελέσματα της έρευνας ερωτηματολογίων σχετικά με το περπάτημα.
        Επίσης, θα οριστικοποιηθούν οι τεχνικές προδιαγραφές και οι δυνατότητες
        του διαδικτυακού παρατηρητηρίου βαδισιμότητας και θα έχει ολοκληρωθεί η
        μελέτη χωροθέτησης του δικτύου αισθητήρων καταγραφής των πεζών σε σημεία
        της πόλης.
      </li>
      <li>
        Π2 – 12 Μήνες: Το 2ο Παραδοτέο θα περιλαμβάνει τη συλλογή δεδομένων και
        δεικτών μέτρησης της βαδισιμότητας καθώς και την ανάλυση και
        οπτικοποίησή τους μέσω χαρτών, γραφημάτων και πινάκων. Ακόμη θα
        εγκατασταθεί πιλοτικά μέρος του προτεινόμενου δικτύου εγκατάστασης
        αισθητήρων καταγραφής των πεζών.
      </li>
      <li>
        Π3 – 18 Μήνες: Το 3ο Παραδοτέο θα περιλαμβάνει τη νέα στρατηγική της
        Αθήνας για την ενθάρρυνση και την υποστήριξη του περπατήματος. Θα
        διατυπωθούν εναλλακτικά σενάρια παρεμβάσεων, θα εξεταστούν οι κυριότερες
        επιπτώσεις τους και θα καθοριστούν μετρήσιμοι στόχοι και δείκτες
        παρακολούθησης.
      </li>
      <li>
        Π4 – 24 Μήνες: Το 4ο Παραδοτέο θα αφορά την τελική ψηφιακή εκδοχή του
        γεωχωρικού παρατηρητηρίου βαδισιμότητας καθώς και τις προτάσεις δράσεων
        και εκδηλώσεων διάχυσης των αποτελεσμάτων της έρευνας μέσω ημερίδων,
        συνεντεύξεων, συναντήσεων κ.λπ.
      </li>
      <li>
        Π5 – 30 Μήνες: Το 5ο Παραδοτέο εμπεριέχει τη δεύτερη συλλογή δεδομένων
        βαδισιμότητας (εφόσον υλοποιηθούν οι προτεινόμενες παρεμβάσεις),
        προκειμένου να αναλυθούν οι αρχικές επιπτώσεις των έργων. Παράλληλα, θα
        διεξαχθεί επαναληπτική έρευνα ερωτηματολογίων ώστε να προσδιοριστούν τα
        επίπεδα ικανοποίησης και αποδοχής των υλοποιημένων αστικών παρεμβάσεων
        από τους κατοίκους και τους επισκέπτες του Δήμου.
      </li>
    </ul>
    <img style="width: 100%" src="assets/images/deliverables.png" />
  </mat-card>
</section>
