<div class="example-container main-parent mat-typography mat-app-background"
  [class.athens-dark-theme]="darkThemeService.isDarkTheme$ | async">
  <mat-toolbar>
    <div routerLink="/home" class="logo-font" [ngClass]="isDarkTheme ? 'text-shadow-dark':'text-shadow'"><span style="font-weight: bold; color: #002673">WALKABLE </span><span
        style="color: #57B229">ATHENS</span></div>
    <div style="margin-left: 16px; margin-right: 8px;" class="color-primary" *ngIf="innerWidth > 760">{{'MENU.DIGITAL' |
      translate}}</div>
    <div class="color-accent" *ngIf="innerWidth > 760">{{'MENU.OBSERVATORY' | translate}}</div>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menuParent">
      <mat-icon>menu</mat-icon>
      <mat-menu #menuParent="matMenu" class="main-menu">
        <button class="menu-button" mat-menu-item routerLink="/home" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>home</mat-icon>{{'MENU.HOME' | translate}}
        </button>
        <button class="menu-button" mat-menu-item routerLink="/about" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>info</mat-icon>{{'MENU.ABOUT' | translate}}
        </button>
        <button class="menu-button" mat-menu-item routerLink="/team" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>group</mat-icon>{{'MENU.TEAM' | translate}}
        </button>
        <button class="menu-button" mat-menu-item routerLink="/map" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>map</mat-icon>{{'MENU.MAP' | translate}}
        </button>
        <button class="menu-button" mat-menu-item routerLink="/responses" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>question_mark</mat-icon>{{'MENU.QUESTIONNAIRE' | translate}}
        </button>
        <button class="menu-button" mat-menu-item routerLink="/neighborhoods" [routerLinkActive]="['is-active']" 
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>signpost</mat-icon>{{'MENU.NEIGHBORHOODS' | translate}}
        </button>
        <button class="menu-button" mat-menu-item routerLink="/indices" [routerLinkActive]="['is-active']" 
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>design_services</mat-icon>{{'MENU.INDICES' | translate}}
        </button>
        <button class="menu-button" mat-menu-item routerLink="/strategy" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>policy</mat-icon>{{'MENU.STRATEGY' | translate}}
        </button>
        <button class="menu-button" mat-menu-item routerLink="/contact" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>mail</mat-icon>{{'MENU.CONTACT' | translate}}
        </button>
      </mat-menu>
    </button>
    <app-translate></app-translate>
    <app-dark-theme></app-dark-theme>

  </mat-toolbar>


  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

</div>