<div class="example-container main-parent mat-typography mat-app-background"
  [class.athens-dark-theme]="darkThemeService.isDarkTheme$ | async">
  <mat-toolbar>
    <img src="assets/icons/logo.png" style="height: 7vh;">

    <div style="margin-right: 8px" class="color-primary" *ngIf="innerWidth > 760">{{'MENU.DIGITAL' | translate}}</div>
    <div class="color-accent" *ngIf="innerWidth > 760">{{'MENU.OBSERVATORY' | translate}}</div>
    <span class="example-spacer"></span>

    <div class="menu-whole" *ngIf="innerWidth > 1624">
      <div class="menu-div" routerLink="/home" [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]="{exact: true}">
        {{'MENU.HOME' | translate}}
      </div>
      <div class="menu-div" routerLink="/about" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
        {{'MENU.ABOUT' | translate}}
      </div>
      <div class="menu-div" routerLink="/team" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
        {{'MENU.TEAM' | translate}}
      </div>
      <div class="menu-div" routerLink="/map" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
        {{'MENU.MAP' | translate}}
      </div>
      <div class="menu-div" routerLink="/responses" routerLinkActive="is-active"
        [routerLinkActiveOptions]="{exact: true}">
        {{'MENU.QUESTIONNAIRE' | translate}}
      </div>
      <div class="menu-div" routerLink="/contact" routerLinkActive="is-active"
        [routerLinkActiveOptions]="{exact: true}">
        {{'MENU.CONTACT' | translate}}
      </div>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menuParent" *ngIf="innerWidth <= 1624">
      <mat-icon>menu</mat-icon>
      <mat-menu #menuParent="matMenu">
        <button class="menu-button" mat-menu-item routerLink="/home" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>home</mat-icon>{{'MENU.HOME' | translate}}
        </button>
        <button class="menu-button" mat-menu-item routerLink="/about" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>info</mat-icon>{{'MENU.ABOUT' | translate}}
        </button>
        <button class="menu-button" mat-menu-item routerLink="/team" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>group</mat-icon>{{'MENU.TEAM' | translate}}
        </button>
        <button class="menu-button" mat-menu-item routerLink="/map" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>map</mat-icon>{{'MENU.MAP' | translate}}
        </button>
        <button class="menu-button" mat-menu-item routerLink="/responses" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>question_mark</mat-icon>{{'MENU.QUESTIONNAIRE' | translate}}
        </button>
        <button class="menu-button" mat-menu-item routerLink="/contact" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>mail</mat-icon>{{'MENU.CONTACT' | translate}}
        </button>
      </mat-menu>
    </button>
    <app-translate></app-translate>
    <app-dark-theme></app-dark-theme>

  </mat-toolbar>


  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

</div>