<div class="stats-container">
    <div class="row">
        <mat-form-field >
            <mat-label>{{'MAP.STATS-LAYER' | translate }} </mat-label>
                <mat-select color="primary" [(value)]="mapStatsService.selectedStatsLayer" (selectionChange)="setActiveLayer($event.value)" >
                    <mat-option *ngFor="let group of getStatLayerTypes()" [value]="group">{{group}}
                    </mat-option>
                </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field >
            <mat-label>{{'MAP.STATS-INDEX' | translate }}</mat-label>
                <mat-select color="primary" [(value)]="mapStatsService.selectedStatsIndex" (selectionChange)="setIndice($event.value)" >
                    <mat-option matTooltipClass="newline-tooltip" title="{{idx.label + '\n' + idx.desc  }}" *ngFor="let idx of mapStatsService.getIndecesForLayer(mapStatsService.selectedStatsLayer)" [value]="idx">{{idx.label}}
                    </mat-option>
                </mat-select>
        </mat-form-field>
        <a mat-button title="doanload data on csv" mat-icon-button (click)="downloadIndexOnCsv()" target="_blank"  [href]="fileUrl" download="{{filename}}">
            <mat-icon>download</mat-icon>
         </a>
    </div>
    <div *ngIf="mapStatsService.selectedStatsIndex?.type === statTypeNum" class="row">
        <table>
            <tr *ngFor="let row of mapStatsService.numericClasses;let i = index;">
            <td style="max-width:200px;">({{row.min}} - {{(i !== mapStatsService.numericClasses.length-1) ? row.max : '>'}})</td>
            <td>
                <ngx-colors (change)="setColorForClass(i)" ngx-colors-trigger [(ngModel)]="mapStatsService.classColors[i]"></ngx-colors>
            </td>
            <td>
                {{mapStatsService.numericClasses[i].counter}}
                ({{(100*(mapStatsService.numericClasses[i].counter/
                    (mapStatsService.countFiltered === 0 ? mapStatsService.countAll : mapStatsService.countFiltered))).toFixed(2)}}%)
            </td>
            </tr>
        </table>
    </div>
    <div *ngIf="mapStatsService.selectedStatsIndex?.type === statTypeClass" class="row">
        <table>
            <tr *ngFor="let row of mapStatsService.selectedStatsIndex?.classes;let i = index;">
            <td style="max-width:200px;">{{row.label}}</td>
            <td>
                <ngx-colors (change)="setColorForClass(i)" ngx-colors-trigger [(ngModel)]="mapStatsService.classColors[i]"></ngx-colors>
            </td>
            <td>
                {{mapStatsService.selectedStatsIndex.classes[i].counter}}
                ({{(100*(mapStatsService.selectedStatsIndex.classes[i].counter/
                    (mapStatsService.countFiltered === 0 ? mapStatsService.countAll : mapStatsService.countFiltered))).toFixed(2)}}%)
            </td>
            </tr>
        </table>
    </div>
</div>

