<section>
    <div class="strategy-parent">
        <h1>{{ "STRATEGY.STRATEGY" | translate }}</h1>
        <div class="strategy-text-download">
            <div class="strategy-text">
                <p>{{"STRATEGY.BODY_A" | translate}}</p>
                <p>{{"STRATEGY.BODY_B" | translate}}</p>
                <p>{{"STRATEGY.BODY_C" | translate}}</p>
                <p>{{"STRATEGY.BODY_D" | translate}}</p>
                <p>{{"STRATEGY.BODY_E" | translate}}</p>
                <p>{{"STRATEGY.BODY_F" | translate}}</p>
                <p>{{"STRATEGY.BODY_G" | translate}}</p>
                <p>{{"STRATEGY.BODY_H" | translate}}</p>
                <ul>
                    <li>{{"STRATEGY.BODY_BULLETS_A" | translate}}</li>
                    <li>{{"STRATEGY.BODY_BULLETS_B" | translate}}</li>
                    <li>{{"STRATEGY.BODY_BULLETS_C" | translate}}</li>
                    <li>{{"STRATEGY.BODY_BULLETS_D" | translate}}</li>
                    <li>{{"STRATEGY.BODY_BULLETS_E" | translate}}</li>
                    <li>{{"STRATEGY.BODY_BULLETS_F" | translate}}</li>
                    <li>{{"STRATEGY.BODY_BULLETS_G" | translate}}</li>
                    <li>{{"STRATEGY.BODY_BULLETS_H" | translate}}</li>
                </ul>
                <p>{{"STRATEGY.BODY_I" | translate}}</p>
            </div>
            <div class="strategy-download">
                <a href="" download><mat-icon>picture_as_pdf</mat-icon>{{"STRATEGY.DOWNLOAD" | translate}}</a>
            </div>
        </div>
        
        <div class="strategy-image">
            <h1>{{ "STRATEGY.GRAPHICS" | translate }}</h1>
            <img class="strategy-img" src="assets/images/strategy.jpg">
        </div>
    </div>
</section>