.strategy-parent {
    max-width: 1170px;
    margin: auto;
    padding: 32px;
  }
  
  .strategy-text-download {
      display: flex;
  }
  
  .strategy-text {
      padding-right: 32px;
  }
  
  .strategy-img {
      width: 100%;
  }