
<h1 mat-dialog-title>{{graphTitle}}</h1>
<ng-container>
<form [formGroup]="graphForm">
<div class="row">
  <mat-form-field appearance="fill">
    <mat-label>{{'MAP.DATE-RANGE' | translate}}</mat-label>
    <mat-date-range-input [formGroup]="graphForm" [max]="nowDate" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date" (dateChange)="redrawGraph($event)">
    </mat-date-range-input>
    <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'MAP.GRAPH-TYPE' | translate}}</mat-label>
    <mat-select [(value)]="sensorsService.selGraphType" (selectionChange)="setGraphType($event.value)">
      <mat-option *ngFor="let gtype of graphTypes" [value]="gtype.type">
        {{gtype.label | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'MAP.REPORT-TYPE' | translate}}</mat-label>
    <mat-select [(value)]="sensorsService.selReportType" (selectionChange)="setReportType($event.value)">
      <mat-option *ngFor="let rtype of reportTypes" [value]="rtype.type">
        {{rtype.label | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{'MAP.COMPARE-SENSORS' | translate}}</mat-label>
    <mat-select multiple (selectionChange)="setComparingSensors($event.value)" formControlName="graphCompareSelector">
      <mat-option  *ngFor="let sensr of getCompareSensors()" [value]="sensr" [disabled]="isDisabled(sensr)">
        {{sensr.get('label')}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  
</div>
</form>
<div class="row">
  <canvas #graphCanvas style="max-height:45vh !important; height:45vh !important;" ></canvas>
  <hr color="primary">
</div>
<div *ngIf="sensorsService.graphLoaded === false" class="loader" >
  <mat-spinner color="primary" diameter="70" mode="indeterminate" ></mat-spinner>
</div>
</ng-container>
