
<h1 mat-dialog-title>{{graphTitle}}</h1>

<div class="row">
  <mat-form-field appearance="fill">
    <mat-label>{{'MAP.DATE-RANGE' | translate}}</mat-label>
    <mat-date-range-input [formGroup]="dateRange" [max]="nowDate" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date" (dateChange)="redrawGraph($event)">
    </mat-date-range-input>
    <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'MAP.GRAPH-TYPE' | translate}}</mat-label>
    <mat-select [(value)]="sensorsService.selGraphType" (selectionChange)="setGraphType($event.value)">
      <mat-option *ngFor="let type of graphTypes" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'MAP.REPORT-TYPE' | translate}}</mat-label>
    <mat-select [(value)]="sensorsService.selReportType" (selectionChange)="setReportType($event.value)">
      <mat-option *ngFor="let rtype of reportTypes" [value]="rtype">
        {{rtype}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  
</div>
<div class="row">
  <canvas #graphCanvas style="max-height:45vh !important; height:45vh !important;" ></canvas>
  <hr color="primary">
</div>
