.responses-container {
  padding: 16px;
}

.select-variable {
  width: 100%;
}

.filters-container {
  display: flex;
}

.select-filter-variable {
  margin-right: 16px;
  min-width: 500px;
}

.filter-button {
  align-self: center;
  padding: 0 16px 0 16px;
}

.select-all-values {
  padding: 16px;
}