<section>
    <div class="responses-intro">
        <h1>{{ "RESPONSES.TITLE" | translate }}</h1>
        <p>{{ "RESPONSES.BODY_A" | translate }}</p>
        <p>{{ "RESPONSES.BODY_B" | translate }}</p>
    </div>
    <div class="responses-container">
        <div class="variables-container">
            <mat-form-field appearance="fill" class="select-variable" tourAnchor="5">
                <mat-label>{{ "RESPONSES.RESPONDENTS" | translate }}</mat-label>
                <mat-select [(ngModel)]="selectedRespondents" (selectionChange)="resetFilters()">
                    <mat-option *ngFor="let respondent of respondents" [value]="respondent.id">{{ respondent.id + '. ' +
                        (lang === 'gr' ? respondent.name_gr : respondent.name_en) }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="selectedRespondents === 1" class="variables-container" tourAnchor="6">
            <mat-form-field appearance="fill" class="select-variable">
                <mat-label>{{ "RESPONSES.VARIABLE" | translate }}</mat-label>
                <mat-select [(ngModel)]="selectedVariable" (selectionChange)="filterResponses()">
                    <mat-option matTooltip="{{variable.name}}" *ngFor="let variable of variables_residents" [value]="variable.id">{{ variable.id + '. '
                        +
                        variable.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="selectedRespondents === 2" class="variables-container">
            <mat-form-field appearance="fill" class="select-variable">
                <mat-label>{{ "RESPONSES.VARIABLE" | translate }}</mat-label>
                <mat-select [(ngModel)]="selectedVariable" (selectionChange)="filterResponses()">
                    <mat-option matTooltip="{{variable.name}}" *ngFor="let variable of variables_students" [value]="variable.id">{{ variable.id + '. '
                        +
                        variable.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="filters-container">
            <mat-form-field *ngIf="selectedRespondents === 1" appearance="fill" class="select-filter-variable" tourAnchor="7">
                <mat-label>{{ "RESPONSES.FILTER_VARIABLE" | translate }}</mat-label>
                <mat-select [(ngModel)]="selectedFilterVariable"
                    (selectionChange)="getFilterValues(selectedFilterVariable)">
                    <mat-option matTooltip="{{filterVariable}}" *ngFor="let filterVariable of filterVariables_residents" [value]="filterVariable">{{
                        filterVariable}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="selectedRespondents === 2" appearance="fill" class="select-filter-variable">
                <mat-label>{{ "RESPONSES.FILTER_VARIABLE" | translate }}</mat-label>
                <mat-select [(ngModel)]="selectedFilterVariable"
                    (selectionChange)="getFilterValues(selectedFilterVariable)">
                    <mat-option matTooltip="{{filterVariable}}" *ngFor="let filterVariable of filterVariables_students" [value]="filterVariable">{{
                        filterVariable}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="selectedFilterVariable" appearance="fill" class="select-filter-variable">
                <mat-label>{{ "RESPONSES.FILTER_VALUES" | translate }}</mat-label>
                <mat-select #selectValues [(ngModel)]="selectedFilterValues" (selectionChange)="filterResponses()"
                    multiple>
                    <div class="select-all">
                        <mat-checkbox class="select-all-values" [(ngModel)]="allSelected"
                            [ngModelOptions]="{standalone: true}" (change)="selectAllValues()">{{"RESPONSES.ALL" |
                            translate}}</mat-checkbox>
                    </div>
                    <mat-option matTooltip="{{value}}" *ngFor="let value of filterVariableValues" [value]="value">{{
                        value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="filters-container">

            <mat-form-field [hidden]="showStudentsWishes" appearance="fill" class="select-filter-variable" tourAnchor="8">
                <mat-label>{{ "RESPONSES.CHART_TYPE" | translate }}</mat-label>
                <mat-select [(ngModel)]="selectedChartType" (selectionChange)="filterResponses()">
                    <mat-option *ngFor="let value of chartTypeValues" [value]="value.id">{{ lang === 'en' ?
                        value.name_en : value.name_gr}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- <div class="spacer"></div> -->
            <div class="filter-button" *ngIf="selectedChartType !== 1 && selectedFilterValues.length > 1">
                <mat-slide-toggle [(ngModel)]="stackedBar" (change)="filterResponses()">{{ "RESPONSES.STACKED" |
                    translate
                    }}</mat-slide-toggle>
            </div>
            <div class="filter-button"> <button mat-icon-button (click)="resetFilters()"
                    matTooltip="{{ 'RESPONSES.CLEAR' | translate }}" matTooltipClass="tooltip" tourAnchor="9">
                    <mat-icon>cleaning_services</mat-icon>
                </button></div>
            <div class="spacer"></div>
            <div class="filter-button" tourAnchor="10">
                <a *ngIf="selectedRespondents === 1" mat-raised-button download
                    href="assets/other/responses_residents.csv">{{ "RESPONSES.DOWNLOAD" | translate
                    }}</a>
                <a *ngIf="selectedRespondents === 2" mat-raised-button download
                    href="assets/other/responses_students.csv">{{ "RESPONSES.DOWNLOAD" | translate
                    }}</a>
            </div>
        </div>

        <div class="row" tourAnchor="11">
            <div [hidden]="showStudentsWishes">
                <canvas #graphCanvas class="chart-canvas"></canvas>
                <hr color="primary">
            </div>
            <div *ngIf="showStudentsWishes" class="students-wishes-container">
                <mat-card class="student-wish" *ngFor="let wish of studentsWishes">
                    <mat-card-content>{{ wish }}</mat-card-content>
                </mat-card>
            </div>
        </div>

        <table mat-table [dataSource]="tableSource" class="data-table mat-elevation-z8" tourAnchor="12">


            <ng-container matColumnDef="value">
                <th class="value-header-cell" mat-header-cell *matHeaderCellDef> {{selectedVariableName}} </th>
                <td class="value-cell" mat-cell *matCellDef="let element"> {{element.value}} </td>
            </ng-container>

            <ng-container matColumnDef="number">
                <th class="header-cell" mat-header-cell *matHeaderCellDef><span *ngIf="!stackedBar"> N </span></th>
                <td class="cell" mat-cell *matCellDef="let element"> {{element.number}} </td>
            </ng-container>

            <ng-container *ngFor="let additionalTableColumn of additionalTableColumns; let i = index"
                [matColumnDef]="additionalTableColumn">
                <th class="header-cell" mat-header-cell *matHeaderCellDef> {{ additionalTableColumn }} </th>
                <td class="cell" mat-cell *matCellDef="let element"> {{element[additionalTableColumnsRefs[i]]}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</section>