.responses-container {
  padding: 16px;
}

.responses-intro {
  max-width: 1170px;
  margin: auto;
  padding: 16px;
}

.select-variable {
  width: 100%;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
}

.select-filter-variable {
  margin-right: 16px;
  min-width: 500px;
}

.filter-button {
  align-self: center;
  padding: 0 16px 0 16px;
}

.select-all-values {
  padding: 16px;
}

.students-wishes-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap-reverse;
}

.student-wish {
  margin: 16px;
  max-width: 400px;
  word-break: break-word;
}

.chart-canvas {
  max-height: calc(100vh - 396px) !important;
}

.data-table {
  padding: 8px !important;
}

.value-header-cell {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.value-cell {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.header-cell {
  padding-left: 4px !important;
  padding-right: 4px !important;
  text-align: end;
}

.cell {
  padding-left: 4px !important;
  padding-right: 4px !important;
  text-align: end;
}

@media only screen and (max-width: 600px) {
  .select-filter-variable {
    margin-right: 16px;
    min-width: 100%;
  }
}

@media only screen and (max-width: 1063px) {
  .chart-canvas {
    max-height: calc(100vh - 458px) !important;
  }
}

@media only screen and (max-width: 660px) {
  .chart-canvas {
    max-height: calc(100vh - 488px) !important;
  }
}
