<div class="filters">
    <form [formGroup]="filtersForm">
    <div id="filter-info">{{mapStatsService.countFiltered}} ({{mapStatsService.countAll}})</div>
        <div>
            <div>
                <label>{{'MAP.STATS-SPATIAL-FILTER' | translate }}: </label>
                <button mat-icon-button color="primary" class="draw-button" (click)="enableDraw()">
                    <mat-icon matTooltip="{{'MAP.STATS-SPATIAL-AREA' | translate }}" >border_outer</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="draw-button" (click)="disableDraw()">
                    <mat-icon matTooltip="{{'MAP.STATS-SPATIAL-AREA-REMOVE' | translate }}" >border_clear</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="draw-button" (click)="clearAllFilters()">
                    <mat-icon matTooltip="{{'MAP.STATS-FILTER-CLEAR-ALL' | translate }}" >clear</mat-icon>
                </button>
                <mat-slide-toggle color="primary" [checked]="mapStatsService.heatEnable" (change)="toggleHeat($event.checked)" >Show Heatmap</mat-slide-toggle>
            </div>
            <!-- <label>{{'MAP.STATS-DHMKOIN-FILTER' | translate }}: </label> -->
            <mat-form-field >
                <mat-label>{{'MAP.STATS-SPATIAL-TYPES' | translate }}</mat-label>
                    <mat-select color="primary" formControlName="spatialUnitSelector"  (selectionChange)="setOptionsForType($event.value)">
                        <mat-option *ngFor="let opt of spatialUnitOptions" [value]="opt">{{opt.value}}
                        </mat-option>
                    </mat-select>
            </mat-form-field>
            <mat-form-field >
                <mat-label>{{mapStatsService.spatialAdminType?.id === 1 ? ('MAP.STATS-SPATIAL-DHMKOIN' | translate) :  ('MAP.STATS-SPATIAL-GEITONIES' | translate)}}</mat-label>
                    <mat-select color="primary" formControlName="spatialAdminSelector" (openedChange)="applyDkFilter($event)" (selectionChange)="setDkFilter($event.value)"  multiple>
                        <mat-option matTooltip="{{dk}}" *ngFor="let dk of adminAreaNames" [value]="dk">{{dk}}
                        </mat-option>
                    </mat-select>
            </mat-form-field>
            
        </div>
            <button [disabled]="isDisabled()" mat-icon-button color="primary" class="draw-button" (click)="addFilter()">
                <mat-icon matTooltip="{{'MAP.STATS-FILTER-ADD' | translate }}" >add_circle</mat-icon>
            </button>
        
            <table>
                <tr *ngFor="let filter of mapStatsService.filters;let i = index">
                    <td>
                        <mat-form-field >
                            <mat-label>{{'MAP.STATS-INDEX' | translate }}</mat-label>
                                <mat-select color="primary" [value]="normaliseValue(filter.sindex)" (selectionChange)="changeFilterIndex($event.value, i)" >
                                    <mat-option [disabled]="isExisted(idx)" matTooltip="{{idx.label}}" *ngFor="let idx of mapStatsService.getIndecesForLayer(mapStatsService.selectedStatsLayer)" [value]="idx">{{idx.label}}
                                    </mat-option>
                                </mat-select>
                        </mat-form-field>
                    </td><td>
                        <mat-form-field>
                            <mat-label>{{'MAP.STATS-VALUES' | translate }}</mat-label>
                                <mat-select color="primary" [value]="filter.values" (openedChange)="applyFilters($event)" (selectionChange)="changeFilterValues($event.value, i)" multiple  >
                                    <mat-option matTooltip="{{class.label}}" *ngFor="let class of getFilterCls(filter)" [value]="class">{{class.label}}
                                    </mat-option>
                                </mat-select>
                        </mat-form-field>
                    </td><td>
                        <button mat-icon-button color="primary" class="draw-button" (click)="removeFilter(i)">
                            <mat-icon matTooltip="{{'MAP.STATS-FILTER-DELETE' | translate }}" >remove_circle</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </form>     
    </div>
