<h2>{{ "ABOUT.MATERIAL_CAPS" | translate }}</h2>
<mat-card>
  <mat-card-header>
    <mat-card-title>Παραδοτέα</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../../assets/images/banner-documents.jpg" />
  <mat-card-content>
    <mat-list>
      <p>
        <a
          target="_blank"
          download
          mat-button
          href="../../../assets/docs/3o ΣΤΡΑΤΗΓΙΚΗ WALKABLE ATHENS 2030.pdf"
        >
          <mat-list-item>
            <mat-icon matListIcon>download</mat-icon>
            3o ΠΑΡΑΔΟΤΕΟ ΣΤΡΑΤΗΓΙΚΗ ΓΙΑ ΤΟ ΠΕΡΠΑΤΗΜΑ
          </mat-list-item>
        </a>
      </p>
      <p>
        <a
          target="_blank"
          download
          mat-button
          href="../../../assets/docs/4o_ΠΑΡΑΔΟΤΕΟ_WALKABLE_ATHENS.pdf"
        >
          <mat-list-item>
            <mat-icon matListIcon>download</mat-icon>
            4o ΠΑΡΑΔΟΤΕΟ WALKABLE ATHENS: ΓΕΩΧΩΡΙΚΟ ΠΑΡΑΤΗΡΗΤΗΡΙΟ
          </mat-list-item>
        </a>
      </p>
      <p>
        <a
          target="_blank"
          download
          mat-button
          href="../../../assets/docs/5o_ΠΑΡΑΔΟΤΕΟ_WALKABLE_ATHENS_19_ΜΑΡΤΙΟΥ_2024.pdf"
        >
          <mat-list-item>
            <mat-icon matListIcon>download</mat-icon>
            5o ΠΑΡΑΔΟΤΕΟ ΔΡΑΣΕΙΣ ΠΡΟΩΘΗΣΗΣ ΤΟΥ ΠΕΡΠΑΤΗΜΑΤΟΣ
          </mat-list-item>
        </a>
      </p>
      <p>
        <a
          target="_blank"
          download
          mat-button
          href="../../../assets/docs/Παρουσίαση_WALKABLE ATHENS & ΣΤΡΑΤΗΓΙΚΗ"
        >
          <mat-list-item>
            <mat-icon matListIcon>download</mat-icon>
            ΠΑΡΟΥΣΙΑΣΗ_ΣΤΡΑΤΗΓΙΚΗ_ΠΑΡΑΤΗΡΗΤΗΡΙΟ_ΜΑΖΙ
          </mat-list-item>
        </a>
      </p>
    </mat-list>
  </mat-card-content>
</mat-card>
